@media only screen and (min-width: 800px) {
  #main {
    width:50%;
  }
}

#main {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.bottom-buttons {
    margin-top: 20px;
}

.bottom-buttons .btn {
    width: 100px;
    margin: 2.5px;
}

.question {
    border-radius: 5px;
    background: #f1f8ff;
    border: 1px solid #1890ff;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

.question.required {
    border: 1px solid red;
}

.question-group {
    margin: 20px;
}

.progress {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.inputline {
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    background-color: inherit;
    margin-right: 4px;
    margin-left: 4px;
}

.inputline:focus {
    border-bottom: 2px solid #1890ff;
}

.textarea-autosize {
    margin: 1rem 0;
    width: 100%;
    resize: none;
    overflow-y:hidden;
    outline: 0;
    border: none;
    border-bottom: 1px solid black;
}

.textarea-autosize:focus {
    background-color: #f1f8ff;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-color: #1890ff;
}

.question textarea {
    background-color: #f1f8ff;
}
