#main {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.bottom-buttons {
    margin-top: 20px;
}

.bottom-buttons .btn {
    width: 100px;
    margin: 2.5px;
}

.question {
    margin-bottom: 20px;
}

.question-group {
    margin: 20px;
}

.progress {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.textarea-autosize {
    margin: 1rem 0;
    width: 100%;
    resize: none;
    overflow-y:hidden;
    outline: 0;
    border: none;
    border-bottom: 1px solid black;
}

.textarea-autosize:focus {
    background-color: #1890ff10;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-color: #1890ff;
}
