#main {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.bottom-buttons {
    margin-top: 20px;
}

.bottom-buttons .btn {
    width: 100px;
    margin: 2.5px;
}

.question {
    margin: 20px;
}

.question-group {
    margin: 20px;
}

.progress {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
